@charset"utf-8";

*{
	margin: 0;
	padding: 0;
	font-family: "ＭＳ Ｐゴシック",sans-serif;
}

body{
	background-color: #ddd;
}

/* ---------------------------------------------
        header
 --------------------------------------------- */
#header{
	width: 320px;
	height: 55px;
	background-color: #ed6c44;
	clear: both;
}

.logo{
	width: 200px;
	margin: 0 0 0 5px;
	float: left;
	overflow: hidden;
}

.login{
	margin: 15px 0 0 20px;
	width: 80px;
	height: 20px;
	background-color: red;
	float: left;
}

ul{
	width: 320px;
	height: 40px;
}


ul li{
	list-style:none;
	width: 80px;
	height: 40px;
	float: left;
	background-color: red;
}


/* ---------------------------------------------
        wrap
 --------------------------------------------- */
#wrap{
	width: 320px;
	overflow: hidden;
	clear: both;
}

.shop_seach{
	padding: 10px 0 0 10px;
	width: 310px;
	height: 35px;
	background-color: #a2ff00;
}

.seach1{
	font-size: 15px;
	width: 230px;
	margin: 5px 0 0 0;
	float: left;
}

.seach2{
	width: 30px;
	margin: 5px 0 0 0;
	float: left;
}


#mapView{
  	width: 320px;
  	height: 300px;
}


/* ---------------------------------------------
        footer
 --------------------------------------------- */


footer{
	padding: 10px 0 0 40px;
	width: 280px;
	height: 70px;
	background-color: #ed6c44;
}
