@charset"utf-8";

.shop_seach{
	padding: 10px 0 0 10px;
	width: 310px;
	height: 35px;
	background-color: #a2ff00;
	/*visibility: hidden;*/
}

.seach1{
	font-size: 15px;
	width: 230px;
	margin: 5px 0 0 0;
	float: left;
}

.seach2{
	width: 30px;
	margin: 5px 0 0 0;
	float: left;
}


.list{
	padding: 5px;
	width: 320px;
	height: 80px;
	border-bottom: solid 1px #eee;
}

.shop_img{
	width: 100px;
	height: 80px;
	background-color: #aaa;
	float: left;
}

.title{
	margin: 0 0 5px 5px;
	width: 200px;
	height: 20px;
	float: left;
}

.address{
	margin: 0 0 5px 5px;
	font-size: 10px;
	width: 200px;
	height: 10px;
	float: left;
}

.details{
	margin: 0 0 0 5px;
	font-size: 10px;
	width: 200px;
	height: 10px;
	float: left;
}

.delete{
	font-size: 10px;
	width: 50px;
	height: 25px;
	background-color: blue;
	float: right;
	margin: 5px 15px 0 5px;
}